@charset "UTF";

body {
    background-color: khaki;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

h1 {
    color: rgb(131, 96, 50);
}

h1#principal {
    text-align: center;
    background-color: rgba(193, 148, 44, 0.833);
    color: rgba(255, 239, 216, 0.934);
}

h2 {
    color: rgb(206, 142, 94);
}

.basico {
      color: darkolivegreen;
      font-weight: bold;
}

.intermediario {
       color: goldenrod;
}

.avancado {
     color: brown;
}

.destaque {
    background-color: rgba(146, 104, 74, 0.427);
}