@charset "UTF-8";

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: antiquewhite;
}

header {
    background-color: rgb(250, 213, 163);
}

header > h1 {
    padding: 10px;
    text-align: center;
}

span#burguer {
    background-color: rgb(151, 112, 60);
    color: white;
    display: block;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    transition-duration: 0.5s;
    cursor: pointer;
}

span#burguer:hover {
    background-color: white;
    color: rgb(151, 112, 60);
}
menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(223, 167, 94);
    color: white;
    border-top: 2px solid rgb(250, 213, 163);
    transition-duration: 0.5s;
}

menu a:hover {
    background-color: rgb(191, 142, 79);
    transition-duration: 0.2s;
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article > h1 {
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}