@charset "UTF-8";

* {
    margin: 0px;
}

:root {
    --cor1: #d8e2dc;
    --cor2: #ffe5d9;
    --cor3: #ffcad4;
    --cor4: #f4acb7;
    --cor5: #9d8189;
}

body {
    background-color: #d8e2dc;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: var(--cor3);
    padding: 30px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.297);
}

header h1 {
    color: #ffe5d9;
    
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.364);
    text-align: center;
    font-weight: bold;
}

header p {
    color: #9d8189;
   
    text-align: center;
    margin: 20px 0px 0px 0px;
    font-weight: bold;
}

main {
    background-color: white;
    padding: 15px;
    margin: 10px auto 0px auto;
    min-width: 300px;
    max-width: 400px;
border-radius: 10px 0px;
box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.277);

   
}

main h1 {
    color: #f4acb7;
    
    background-image: linear-gradient(to right, transparent, var(--cor1), transparent);
    
}

main p {
    margin-top: 10px;
    line-height: 25px;
    text-indent: 20px;
    text-align: justify;
   
}


